<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header(title='Register')"></head>
<body>
	<nav th:replace="common/navbar :: navbar"></nav>
	
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2 class="text-center">Register</h2>
			</div>
			<!-- if parameter url have a success like /auth/register?success -->
			<div th:if="${param.success}">
				<div class="alert alert-info">
					You habe registered successfully to our blog app!
				</div>
			</div>
			<div class="card-body">
				<form th:action="@{/auth/register}" th:object="${user}" method="POST">
					<div class="form-group mb-3">
						<label class="form-label">First name</label>
						<input 
							type="text"
							class="form-control" 
							id="firstName" 
							name="firstName" 
							placeholder="enter first name"
							th:field="*{firstName}">
					</div>
					<div class="form-group mb-3">
						<label class="form-label">Last name</label>
						<input 
							type="text"
							class="form-control" 
							id="lastName" 
							name="lastName" 
							placeholder="enter last name"
							th:field="*{lastName}">
					</div>
					<div class="form-group mb-3">
						<label class="form-label">Email</label>
						<input 
							type="text"
							class="form-control" 
							id="email" 
							name="email" 
							placeholder="enter email"
							th:field="*{email}">
					</div>
					<div class="form-group mb-3">
						<label class="form-label">Password</label>
						<input 
							type="password"
							class="form-control" 
							id="password" 
							name="password" 
							placeholder="enter password"
							th:field="*{password}">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Register</button>
						<span>Aleady registered <a th:href="@{/auth/login}">go to login</a> </span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>