<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header(title='ADMIN - Create post')"></head>
<body>
	<nav th:replace="common/navbar :: navbar"></nav>
	
	<div class="container">
		<div class="row col-md-8 offset-md-2">
			<div class="card mt-5">
				<div class="card-header">
					<h2 class="text-center">Create Post</h2>
					
					<form th:action="@{/admin/posts/create}" method="post" th:object="${post}">
						<div class="mb-3">
							<label class="form-label">Title</label>
							<input 
								type="text" 
								class="form-control" 
								id="title" 
								name="title" 
								th:field="*{title}">
						</div>
						<div class="mb-3">
							<label class="form-label">Short Description</label>
							<textarea 
								class="form-control" 
								id="shortDescription" 
								rows="3"
								name="shortDescription"
								th:field="*{shortDescription}"></textarea>
						</div>
						<div class="mb-3">
							<label class="form-label">Content</label>
							<textarea 
								class="form-control" 
								id="content" 
								rows="8"
								name="content"
								th:field="*{content}"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="common/footer :: footer"></footer>
</body>
</html>