<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header('CLIENT - View post')"></head>
<body>
	<nav th:replace="common/navbar :: navbar"></nav>
	
	<div class="container">
		<div class="row">
			<div class="col-md-9" th:object="${post}">
				<h2 th:text="*{title}"></h2>
				<hr/>
				<h4 th:text="*{shortDescription}"></h4>
				<hr/>
				<!-- utext = use for display unescaped text ex. HTML tag -->
				<div th:utext="*{content}"></div>
			</div>
			<div class="col-md-3">
				
			</div>
		</div>
	</div>
	
	<footer th:replace="common/footer :: footer"></footer>
</body>
</html>